{% extends "layout.html" %}

{% block title %}
    Deposit
{% endblock %}

{% block main %}
    <form action="/deposit" method="post">
        <h1>Deposit Money</h1>
        <p>
            Here you can deposit any amount of money. 
            <br>
            Enter a value in the amount of dollars you wish to deposit
        </p>
        <div class="form-group">
            <input type="number" name="money" step=0.01 placeholder="Enter Deposit Amount">
        </div>
        <button class="btn btn-primary" type="submit">Deposit</button>
    </form>
{% endblock %}
