{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Welcome, {{ username }}</h1>
    <h5>It is {{ day }}</h5>

    <hr>

    <div class="row">
        <div class="card" style="width: 17rem;">
            <img src="static/img/history_clock.png" class="card-img-top" alt="clock rewinding" style="max-width: 250px; max-height: 250px;">
            <div class="card-body">
                <h5 class="card-title">History</h5>
                <p class="card-text">
                    View your activity on this site, history is made up mostly of timestamps.
                    You are free to clear your history whenever you want.
                </p>
                <a href="/history" class="btn btn-primary">Go to History</a>
            </div>
        </div>

        <div class="card" style="width: 17rem;">
            <img src="static/img/todo_list.png" class="card-img-top" alt="a todo list" style="max-width: 240px; max-height: 300px;">
            <div class="card-body">
                <h5 class="card-title">To-Do List</h5>
                <p class="card-text">
                    Create a ToDo list where you can remove individual tasks or clear entire list one click.
                </p>
                <a href="/todo" class="btn btn-primary">To-Do List</a>
            </div>
        </div>

        <div class="card" style="width: 16.5rem;">
            <img src="static/img/todo_list.png" class="card-img-top" alt="a todo list" style="max-width: 240px; max-height: 300px;">
            <div class="card-body">
                <h5 class="card-title">To-Do List</h5>
                <p class="card-text">
                    Create a ToDo list where you can remove individual tasks or clear entire list one click.
                </p>
                <a href="/todo" class="btn btn-primary">To-Do List</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card" style="width: 17rem;">
            <img src="static/img/generator.png" class="card-img-top" alt="a todo list" style="max-width: 250px; max-height: 250px;">
            <div class="card-body">
                <h5 class="card-title">Password Generator</h5>
                <p class="card-text">
                    Generate passwords with any symbols or any length specified.
                    Note: passwords will not be saved or automatically added to the password manager.
                </p>
                <a href="/gen" class="btn btn-primary">Password Gen</a>
            </div>
        </div>

        <div class="card" style="width: 17rem;">
            <br>
            <br>
            <img src="static/img/checker.jpg" class="card-img-top" alt="a todo list" style="max-width: 250px; max-height: 250px;">
            <div class="card-body">
                <br>
                <br>
                <br>
                <br>
                <h5 class="card-title">Password Checker</h5>
                <p class="card-text">
                    Enter a password to receive feedback on it's strength
                    Nothing is saved for your privacy
                </p>
                <a href="/checker" class="btn btn-primary">Password Checker</a>
            </div>
        </div>

        <div class="card" style="width: 16.5rem;">
            <br>
            <br>
            <img src="static/img/manager.png" class="card-img-top" alt="a todo list" style="max-width: 250px; max-height: 180px;">
            <div class="card-body">
                <br>
                <br>
                <h5 class="card-title">Password Manager</h5>
                <p class="card-text">
                    Enter service, username, and password to be saved.
                    You can delete any entry at any time, it is up to you.
                </p>
                <a href="/manager" class="btn btn-primary">Password Manager</a>
            </div>
        </div>

        <div class="card" style="width: 16.5rem;">
            <img src="static/img/github_profile.png" class="card-img-top" alt="a todo list" style="max-width: 16.5rem; max-height: 230px;">
            <div class="card-body">
                <br>
                <h5 class="card-title">Stay Connected</h5>
                <p class="card-text">
                    My Github profile link can be found below if you are interested in looking at some of my other code.
                    Thanks for visiting this website :)
                </p>
                <a href="https://github.com/StephenTrainor" class="btn btn-primary">Github Profile</a>
            </div>
        </div>
    </div>

    <footer class="medium text-center text-muted">
        <hr>
        Current Time: {{ hour }}:{{ '%02d' % minute }} {{ amp }}
    </footer>
{% endblock %}
