{% extends "layout.html" %}

{% block title %}
    To-Do
{% endblock %}

{% block main %}
    <form action="/todo" method="post">
        <h2>To-Do List for {{ username }}</h2>
        <div class="form-group">
            <input class="input-large search-query" type="text" name="message" placeholder="Name of Service/Website" autocomplete="off">
        </div>

        <div class="form-group">
            <input class="input-large search-query" type="text" name="message" placeholder="Username" autocomplete="off">
        </div>

        <div class="form-group">
            <input class="input-large search-query" type="password" name="message" placeholder="Password" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-outline-info">Add To List</button>
    </form>

    {% if exists %}
    <br>

    <table>
        <thead>
            <th>What To-Do</th>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row['todo'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/delete" method="post">
        <button name="clear_todo" type="submit" class="btn btn-outline-danger">Clear To-Do List</button>
    </form>
    {% endif %}
{% endblock %}
