{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <h1>Quote</h1>
        <p>
            Here you can get a quote on the price of one share for any real stock 
            <br>
            A ticker symbol is slightly different from a companies name, googling the symbol may be helpful
        </p>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="ticker" placeholder="Ticker Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Get a Quote</button>
    </form>
{% endblock %}
