{% extends "layout.html" %}

{% block title %}
    Checker
{% endblock %}

{% block main %}
    <h1>Password Checker</h1>
    <pre style="text-align: left; margin-left: 160px;">

    </pre>

    <form class="form-group" action="/stock">
        <div class="form-group">
            <input class="input-large search-query" type="text" autocomplete="off" name="ticker" placeholder="Stock Ticker">

            <input class="input-medium search-query" type="number" autocomplete="off" name="months" placeholder="Months">
        </div>
    </form>
{% endblock %}
