{% extends "layout.html" %}

{% block title %}
    Stocks
{% endblock %}

{% block main %}
    <h1>Stock Analyzer</h1>
    <pre style="text-align: left; margin-left: 160px;">
                    Here you can:
                    1. Enter ticker symbol of stock
                    2. Collect as many months of data as you want
                    3. Get most recent prices
                    4. Get percent increases and decreases from prev trading day/week/month
                    5. Generate a candlestick graph of data
    </pre>

    <form class="form-group" action="/stock" method="post">
        <div class="form-group">
            <input class="input-large search-query" type="text" autocomplete="off" name="ticker" placeholder="Stock Ticker">

            <input class="input-medium search-query" type="number" autocomplete="off" name="months" placeholder="Months of Data">
        </div>
        <div>
            <button class="btn btn-outline-info" type="submit">Analyze Stock</button>
        </div>
    </form>
{% endblock %}
