{% extends "layout.html" %}

{% block title %}
    To-Do
{% endblock %}

{% block main %}
    <form action="/todo" method="post">
        <h2>To-Do List for {{ username }}</h2>
        <div class="form-group">
            <input class="input-large search-query" type="text" name="message" placeholder="To-Do" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-outline-info">Add To List</button>
    </form>

    {% if exists %}
    <br>

    <table>
        <thead>
            <th>What To-Do</th>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ loop.index }}. {{ row['todo'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br>
    
    <form action="/delete" method="post">
        <div class="form-group">
            <input class="input-large search-query" type="text" name="list_item" placeholder="List Item" autocomplete="off">
        </div>
        
        <button name="clear_item_todo" type="submit" class="btn btn-outline-danger">Clear Item</button>
    </form>
    
    <br>
    <h3>Or</h3>
    <br>
    
    <form action="/delete" method="post">
        <button name="clear_todo" type="submit" class="btn btn-outline-danger">Clear Entire List</button>
    </form>
    {% endif %}
{% endblock %}
